.flex-gap {
    display: inline-flex;
    flex-flow: column;
    flex-wrap: wrap;
    gap: 12px;
}

.nav {
    min-height: 88px;
    min-width: 211px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
