@page "/"

<PageTitle>WASM Game Collection</PageTitle>


<div class="flex-container">
	<div class="col flex-gap">
		<div class="nav">
			<CubeSize25></CubeSize25>
		</div>
		<div class="nav">
			<DoubleBorderButton 
				Caption="Flappy Bird"
				Href="flappy"></DoubleBorderButton>
		</div>
		<div class="nav">
			<DoubleBorderButton 
				Caption="Willy Worm"
				Href="willyworm"></DoubleBorderButton>
		</div>
		<div class="nav">
			<DoubleBorderButton 
				Caption="Pure CSS3"
				Href="purecss"></DoubleBorderButton>
		</div>

	</div>
</div>
