@page "/"

<PageTitle>WASM Game Collection</PageTitle>


<div class="flex-container">
	<div class="col">
		<DoubleBorderButton 
			Caption="Flappy Bird"
			Href="flappy"></DoubleBorderButton>
		<DoubleBorderButton 
			Caption="Flappy Bird"
			Href="flappy"></DoubleBorderButton>
		<DoubleBorderButton 
			Caption="Flappy Bird"
			Href="flappy"></DoubleBorderButton>
	</div>


</div>
