@page "/purecss"

<PageTitle>proudly made with CSS3</PageTitle>

<div class="flex-container">
	<CubeSize25></CubeSize25>
	<CubeSize200></CubeSize200>
	<RubiksCube></RubiksCube>
	<YinYang></YinYang>
	<GradientSpinner></GradientSpinner>
	<DoubleBorderButton Caption="Button"></DoubleBorderButton>
</div>
