@page "/purecss"

<PageTitle>proudly made with CSS3</PageTitle>

<div class="flex-container">
	<div class="col">
<CubeSize25></CubeSize25>
	</div>
	<div class="col">
<CubeSize200></CubeSize200>
	</div>
	<div class="col">
<RubiksCube></RubiksCube>
	</div>
	<div class="col">
<YinYang></YinYang>
	</div>
	<div class="col">
<GradientSpinner></GradientSpinner>
	</div>
	<div class="col">
<DoubleBorderButton Caption="Button"></DoubleBorderButton>
	</div>
</div>

