@page "/purecss"

<PageTitle>proudly made with CSS3</PageTitle>

<div class="flex-container">
	<div class="flex-item"><CubeSize25></CubeSize25></div>
	<div class="flex-item"><CubeSize200></CubeSize200></div>
	<div class="flex-item"><RubiksCube></RubiksCube></div>
	<div class="flex-item"><YinYang></YinYang></div>
	<div class="flex-item"><GradientSpinner></GradientSpinner></div>
	<div class="flex-item"><DoubleBorderButton Caption="Button"></DoubleBorderButton></div>
</div>
