<div>
	<!-- Head -->
	<HomeButton25></HomeButton25>
	<br />
	<br />
	<br />

	
	<DoubleBorderButton 
		Caption="Flappy Bird"
		Href="flappy"></DoubleBorderButton>
	<br />
	<DoubleBorderButton 
		Caption="Willy Worm"
		Href="willyworm"></DoubleBorderButton>
	<br />
	<DoubleBorderButton 
		Caption="Pure CSS"
		Href="purecss"></DoubleBorderButton>
	<br />
</div>
