<div>
	<!-- Head -->
	<HomeButton25></HomeButton25>
	<br />
	<br />
	<br />

	
    <NavLink href="flappy">Flappy Bird</NavLink>
	<br />
    <NavLink href="willyworm">Willy Worm</NavLink>
	<br />
    <NavLink href="purecss">Pure CSS</NavLink>
	<br />
</div>
