<div class="flex-container menu">
	<div>
		<RubiksCube></RubiksCube>
	</div>
	<div class="nav">
		<DoubleBorderButton 
			Caption="Flappy Bird"
			Href="flappy"></DoubleBorderButton>
	</div>
	<div class="nav">
		<DoubleBorderButton 
			Caption="Banana Battles"
			Href="banana"></DoubleBorderButton>
	</div>
	<div class="nav">
		<DoubleBorderButton 
			Caption="Willy Worm"
			Href="willyworm"></DoubleBorderButton>
	</div>
	<div class="nav">
		<DoubleBorderButton 
			Caption="Pure CSS3"
			Href="purecss"></DoubleBorderButton>
	</div>
</div>
