@using Microsoft.AspNetCore.Components.Routing

<div class="banana-menu">
	<div>
		<a class="banana-menu-brand" href="">Banana Battles</a>
	</div>
	<div>
		<ul>
			<li class="banana-menu-nav-item">
				<NavLink class="banana-menu-nav-link" href="banana/build">
					Build
				</NavLink>
			</li>
		</ul>
	</div>
</div>
